/* global */
@font-face{
	font-family:NanumSquare;
	src:url(../font/NanumSquareL.woff) format('woff');
	font-weight: 200;
}
@font-face{
	font-family:NanumSquare;
	src:url(../font/NanumSquareR.woff) format('woff');
	font-weight: 400;
}
@font-face{
	font-family:NanumSquare;
	src:url(../font/NanumSquareB.woff) format('woff');
	font-weight: 600;
}
@font-face{
	font-family:NanumSquare;
	src:url(../font/NanumSquareEB.woff) format('woff');
	font-weight: 800;
}

* { margin: 0; padding: 0; }
html { scroll-behavior: smooth; }
body { overflow-y: hidden; position: relative; font-family: NanumSquare; font-weight: 200; }
a,
.bullet,
button,
label { display: block; }
a { text-decoration: none; }
input[type='radio'],
input[type='checkbox'] { display: none; }
section { width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: space-around; align-items: center; }
section:not(#visual) { position: relative; z-index: 10; background: #fff; }
section:not(#visual) > .title { display: flex; flex-direction: column; align-items: center; }
section:not(#visual) > .title p { font-size: 40px; }
section:not(#visual) > .title .bar { margin-top: 10px; width: 45px; height: 3px; background: #6789ca; }
footer { position: absolute; width: 100%; height: 50px; bottom: 0; text-align: center; line-height: 50px; background: #504e49; color: #fff; }

.cover { display: flex; flex-direction: column; justify-content: center; position: fixed; height: 100vh; right: 30px; width: 10px; z-index: 11; }
.bullet_box { height: 305px; display: flex; flex-direction: column; justify-content: space-between; }
.bullet { background: #dfdfdd; width: 10px; height: 45px; display: flex; justify-content: center; align-items: center; cursor: pointer; }
.bullet .name { pointer-events: none; transition: 0.3s; width: 60px; opacity: 0; color: #504e49; position: absolute; left: -70px; text-align: right; }
.bullet:hover .name { pointer-events: auto; opacity: 1; }
/* visual */
#visual { color: #fff; }
#visual .wrap { position: relative; width: 100%; height: 100%; overflow: hidden; }
#visual .layer { z-index: 10; display: flex; justify-content: center; align-items: center; position: absolute; width: 100%; height: 100vh; background: rgba(0,0,0,0.4); }
#visual .layer .top { position: absolute; top: 30px; width: calc(100% - 60px); height: 100px; display: flex; justify-content: space-between; align-items: center; }
#visual .layer .lang { display: flex; }
#visual .layer .lang .lang_btn { display: flex; flex-direction: column; align-items: center; position: relative; color: #fff; margin: 0 20px; font-size: 20px; }
#visual .layer .lang .lang_cover:nth-child(1) .lang_btn:after { content: ""; position: absolute; bottom: -5px; width: 0%; height: 2px; background: #fff; }
#visual .layer .text { height: 150px; }
#visual .layer .content { display: flex; align-items: center; }
#visual .layer .center { width: 420px; display: flex; flex-direction: column; align-items: center; justify-content: space-around; }
#visual .layer .center p { font-size: 50px; color: #fff }
#visual .layer .center .btn { cursor: pointer; position: relative; overflow: hidden; }
#visual .layer .center .btn .text { transition: 0.5s ease; position: relative; z-index: 10; }
#visual .layer .center .btn:hover .text { color: #000; }
#visual .layer .center .hov_block { width: 150px; height: 150px; background: #fff; position: absolute; }
#visual .layer .center .hov_block.toL { transition: transform .5s ease; left: 0; top: -100%; transform: rotateZ(-60deg) translate(-80px, -160px); }
#visual .layer .center .btn:hover .toL { transform: rotateZ(-60deg) translate(-35px, -70px); }
#visual .layer .center .hov_block.toR { transition: transform .5s ease; left: 0; top: -100%; transform: rotateZ(-60deg) translate(80px, 160px); }
#visual .layer .center .btn:hover .toR { transform: rotateZ(-60deg) translate(35px, 70px); }
#visual .layer .bar { height: 0px; width: 1px; background: #fff; margin: 0 0px; transition: height .75s ease-out, margin .75s; }
#visual .layer .more_cover { width:  0px; overflow: hidden; transition: width 2s ease-out; }
#visual .layer .more > * { margin-left: -100%; opacity: 0; transition: margin-left 1s, opacity .5s }
#visual .layer .more .title { font-size: 30px; }
#visual .layer .more div:not(.title) { margin-top: 3.5px; margin-bottom: 3.5px; font-size: 16px; }
#visual .layer .btn { width: 150px; height: 50px; border: 1px solid #fff; text-align: center; line-height: 50px; box-sizing: border-box; font-size: 20px; }
#visual video { z-index: 0; position: fixed; right: 0; bottom: 0; min-width: 100%; min-height: 100%; }
#visual .arrow { animation: bounce 1s ease infinite; position: absolute; bottom: 30px; }

@keyframes bounce {
	0% { transform: translateY(0); }
	75% { transform: translateY(10px); }
	100% { transform: translateY(0); }
}

#more:checked ~ .wrap .btn .text { transition: 0.5s ease; color: #000; }
#more:checked ~ .wrap .btn .toL { transition: transform .5s ease; transform: rotateZ(-60deg) translate(-35px, -70px); }
#more:checked ~ .wrap .btn .toR { transition: transform .5s ease; transform: rotateZ(-60deg) translate(35px, 70px); }

#more:checked ~ .wrap .more_cover { width: 780px; transition: width 2s ease; }
#more:checked ~ .wrap .bar { height: 150px; transition: height .75s ease-out 2s, margin .75s 2s; margin: 0 20px; }
#more:checked ~ .wrap .more > * { opacity: 1; transition: opacity .75s; }
#more:checked ~ .wrap .more > :nth-child(6) { margin-left: 0; transition: opacity .75s 2s, margin-left 1s ease 2s; }
#more:checked ~ .wrap .more > :nth-child(5) { margin-left: 0; transition: opacity .75s 2s, margin-left 1s ease 2.25s; }
#more:checked ~ .wrap .more > :nth-child(4) { margin-left: 0; transition: opacity .75s 2s, margin-left 1s ease 2.5s; }
#more:checked ~ .wrap .more > :nth-child(3) { margin-left: 0; transition: opacity .75s 2s, margin-left 1s ease 2.75s; }
#more:checked ~ .wrap .more > :nth-child(2) { margin-left: 0; transition: opacity .75s 2s, margin-left 1s ease 3s; }
#more:checked ~ .wrap .more > :nth-child(1) { margin-left: 0; transition: opacity .75s 2s, margin-left 1s ease 3.25s; }

/* place */
#place .wrap { width: 85vw; height: 80vh; display: flex; justify-content: space-between; }
#place .theme_block { width: 19vh; height: 100%; display: flex; flex-direction: column; justify-content: space-between; }
#place .theme { overflow: hidden; position: relative; width: 19vh; height: 19vh; display: flex; justify-content: center; align-items: center; }
#place .layer:before { z-index: 10; content: ""; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,0.4); }
#place .theme_block .text { z-index: 10; position: absolute; color: #dfdfdd; font-weight: 400; left: 10px; bottom: 10px; }
#place .theme .image { transition: .5s; filter: blur(3px); width: 100%; height: 100%; }
#place .theme:hover .image { filter: blur(0px); }
#place .theme:nth-child(1) .image { background: url(../source/theme1.jpg) no-repeat center/cover; }
#place .theme:nth-child(2) .image { background: url(../source/theme2.png) no-repeat center/cover; }
#place .theme:nth-child(3) .image { background: url(../source/theme3.jpg) no-repeat center/cover; }
#place .theme:nth-child(4) .image { background: url(../source/theme4.jpg) no-repeat center/cover; }
#place .content { width: calc(100% - (18.7vh + 15px)); height: 100%; background: #dfdfdd; display: flex; justify-content: center; align-items: center; }
#place .content .content_wrap { position: relative; width: calc(100% - 60px); height: calc(100% - 60px); display: flex; flex-direction: column; }
#place .content .content_wrap > .title { font-size: 35px; color: #504e49; }
#place .content .content_wrap > .desc { font-size: 25px; color: #504e49; }
#place .content .slide_align { margin-top: 30px; display: flex; justify-content: center; align-items: center; width: 100%; height: calc(100% - 60px); }
#place .content .slide_controller { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }
#place .content .slide_box { position: relative; width: 95%; height: 100%; display: flex; justify-content: space-between; align-items: center; }
#place .content .slide { position: relative; width: 0%; height: 0%; opacity: 0; transition: .5s; display: flex; justify-content: center; align-items: center; }
#place .content .arrow_box { z-index: 10; position: absolute; width: 20px; height: 50px; }
#place .content .arrow_box.L { left: 0 }
#place .content .arrow_box.R { right: 0 }
#place .content .arrow_box div.arrow { color: #a4a199; }
#place .content .arrow_box .arrow { color: #504e49; display: none; position: absolute; }
#place .content .slide .image { width: 80%; height: 70%; }
#place .content .slide .desc { background: rgba(80,78,72,0.8); width: 50%; height: 45%; position: absolute; left: 2.5%; bottom: 2.5%; transform: scale(0); transition: .5s; display: flex; flex-direction: column; justify-content: space-around; align-items: center; }
#place .content .slide .text { width: 90%; color: #fff; font-size: 15px; text-align: center; }
#place .content .slide .text:nth-child(1) { font-size: 22px; }
#place .content .slide .text:nth-child(2) { font-size: 16px; line-height: 1.3; }
#place .content .slide .modal_btn { transition: background .5s; display: flex; justify-content: center; align-items: center; width: 40%; height: 17.5%; border: 1px solid #fff; box-sizing: border-box; background: transparent; }
#place .content .slide .modal_btn div { color: #fff; font-size: 14px; }
#place .content .slide .modal_btn:hover {  transition: background .5s; background: #fff; }
#place .content .slide .modal_btn:hover div { color: #504e49 }

#theme1:checked ~ .wrap .theme:nth-child(1) .image { filter: blur(0px); }
#theme2:checked ~ .wrap .theme:nth-child(2) .image { filter: blur(0px); }
#theme3:checked ~ .wrap .theme:nth-child(3) .image { filter: blur(0px); }
#theme4:checked ~ .wrap .theme:nth-child(4) .image { filter: blur(0px); }
#place_pos1:checked ~ .content_wrap .slide:nth-child(2) .desc { transform: scale(1); }
#place_pos2:checked ~ .content_wrap .slide:nth-child(3) .desc { transform: scale(1); }
#place_pos3:checked ~ .content_wrap .slide:nth-child(4) .desc { transform: scale(1); }
#place_pos4:checked ~ .content_wrap .slide:nth-child(5) .desc { transform: scale(1); }
#place_pos5:checked ~ .content_wrap .slide:nth-child(6) .desc { transform: scale(1); }
#place_pos6:checked ~ .content_wrap .slide:nth-child(7) .desc { transform: scale(1); }
#place_pos1:checked ~ .content_wrap .arrow_box > .arrow:nth-child(1) { display: block; }
#place_pos2:checked ~ .content_wrap .arrow_box > .arrow:nth-child(2) { display: block; }
#place_pos3:checked ~ .content_wrap .arrow_box > .arrow:nth-child(3) { display: block; }
#place_pos4:checked ~ .content_wrap .arrow_box > .arrow:nth-child(4) { display: block; }
#place_pos5:checked ~ .content_wrap .arrow_box > .arrow:nth-child(5) { display: block; }
#place_pos6:checked ~ .content_wrap .arrow_box > .arrow:nth-child(6) { display: block; }

#place_pos1:checked ~ .content_wrap .slide:nth-child(1) { width: 33.33%; height: 50%; opacity: 1; }
#place_pos1:checked ~ .content_wrap .slide:nth-child(2) { width: 66.66%; height: 100%; opacity: 1; }
#place_pos1:checked ~ .content_wrap .slide:nth-child(3) { width: 33.33%; height: 50%; opacity: 1; }
#place_pos2:checked ~ .content_wrap .slide:nth-child(2) { width: 33.33%; height: 50%; opacity: 1; }
#place_pos2:checked ~ .content_wrap .slide:nth-child(3) { width: 66.66%; height: 100%; opacity: 1; }
#place_pos2:checked ~ .content_wrap .slide:nth-child(4) { width: 33.33%; height: 50%; opacity: 1; }
#place_pos3:checked ~ .content_wrap .slide:nth-child(3) { width: 33.33%; height: 50%; opacity: 1; }
#place_pos3:checked ~ .content_wrap .slide:nth-child(4) { width: 66.66%; height: 100%; opacity: 1; }
#place_pos3:checked ~ .content_wrap .slide:nth-child(5) { width: 33.33%; height: 50%; opacity: 1; }
#place_pos4:checked ~ .content_wrap .slide:nth-child(4) { width: 33.33%; height: 50%; opacity: 1; }
#place_pos4:checked ~ .content_wrap .slide:nth-child(5) { width: 66.66%; height: 100%; opacity: 1; }
#place_pos4:checked ~ .content_wrap .slide:nth-child(6) { width: 33.33%; height: 50%; opacity: 1; }
#place_pos5:checked ~ .content_wrap .slide:nth-child(5) { width: 33.33%; height: 50%; opacity: 1; }
#place_pos5:checked ~ .content_wrap .slide:nth-child(6) { width: 66.66%; height: 100%; opacity: 1; }
#place_pos5:checked ~ .content_wrap .slide:nth-child(7) { width: 33.33%; height: 50%; opacity: 1; }
#place_pos6:checked ~ .content_wrap .slide:nth-child(6) { width: 33.33%; height: 50%; opacity: 1; }
#place_pos6:checked ~ .content_wrap .slide:nth-child(7) { width: 66.66%; height: 100%; opacity: 1; }
#place_pos6:checked ~ .content_wrap .slide:nth-child(8) { width: 33.33%; height: 50%; opacity: 1; }


/* food */
#food { position: relative; background: #fff; }
#food > * { z-index: 10; color: #fff; }
#food .wrap { width: 85vw; height: 80%; display: flex; justify-content: center; align-items: center; }
#food .wrap .toL,
#food .wrap .toR { width: 2.5%; height: 3%; display: flex; justify-content: center; align-items: center; position: relative; }
#food .wrap .arrow { color: #504e49; position: absolute; display: none; }
#food .wrap div.arrow { color: #a4a199; }
#food .wrap .slide { overflow: hidden; width: 95%; height: 100%; }
#food .wrap .slide_wrap { transition: .5s; width: 250%; height: 100%; display: flex; }
#food .wrap .slide_block { width: 10%; height: 100%; display: flex; justify-content: center; align-items: center; }
#food .wrap .slide_content { position: relative; width: 90%; height: 90%; background: #ffa; }
#food .wrap .slide_content .image { width: 100%; height: 100%; }
#food .wrap .slide_content .text { background: rgba(0,0,0,0.5); width: 100%; height: 30%; position: absolute; bottom: 0; }

#food_pos1:checked ~ .slide .slide_wrap { margin-left: 0%; }
#food_pos2:checked ~ .slide .slide_wrap { margin-left: -25%; }
#food_pos3:checked ~ .slide .slide_wrap { margin-left: -50%; }
#food_pos4:checked ~ .slide .slide_wrap { margin-left: -75%; }
#food_pos5:checked ~ .slide .slide_wrap { margin-left: -100%; }
#food_pos6:checked ~ .slide .slide_wrap { margin-left: -125%; }
#food_pos7:checked ~ .slide .slide_wrap { margin-left: -150%; }

#food_pos1:checked ~ .arrow_box > .arrow:nth-child(1) { display: block; }
#food_pos2:checked ~ .arrow_box > .arrow:nth-child(2) { display: block; }
#food_pos3:checked ~ .arrow_box > .arrow:nth-child(3) { display: block; }
#food_pos4:checked ~ .arrow_box > .arrow:nth-child(4) { display: block; }
#food_pos5:checked ~ .arrow_box > .arrow:nth-child(5) { display: block; }
#food_pos6:checked ~ .arrow_box > .arrow:nth-child(6) { display: block; }
#food_pos7:checked ~ .arrow_box > .arrow:nth-child(7) { display: block; }

/* course */
#course { position: relative; background: url(../source/bg_course.png) no-repeat fixed center/cover !important; }
#course:before { z-index: 2; position: absolute; content: ""; width: 100%; height: 100%; background: rgba(0,0,0,0.5); }
#course > * { z-index: 10; color: #fff; }
#course .wrap { color: #000; width: 85vw; height: 80%; display: flex; justify-content: space-between; align-items: center; }
#course .wrap .course_make,
#course .wrap .course_display { width: 49%; height: 100%; background: #fff; overflow: hidden; }
#course .wrap .course_make .title,
#course .wrap .course_display .title { display: flex; align-items: center; padding-left: 20px; font-size: 25px; background: #6789ca; color: #fff; width: 100%; height: 10%; }
#course .wrap .course_make .content,
#course .wrap .course_display .content { height: 90%; }
#course .wrap .course_display .content div { display: inline-block; font-size: 3em; }
#course .pick { width: 100%; height: 75%; display: flex; justify-content: center; align-items: center; }
#course .pick form { display: flex; flex-wrap: wrap; width: 90%; height: 90%; }
#course .pick form div { display: flex; justify-content: space-between; flex-wrap: wrap; width: 100%; height: 90%; margin: 0 auto; }
#course .pick form label { width: 22.5%; height: 40%; box-sizing: border-box; font-size: 20px; display: flex; justify-content: center; align-items: center; border: 1px solid #dfdfdd }
#course .pick form button { width: 25%; height: 20%; margin-top: 20px; font-size: 20px; color: #fff; display: block; margin: 0 auto; background: #a4a199; border: none; }
#place1:checked ~ div .chk1,
#place2:checked ~ div .chk2,
#place3:checked ~ div .chk3,
#place4:checked ~ div .chk4,
#place5:checked ~ div .chk5,
#place6:checked ~ div .chk6,
#place7:checked ~ div .chk7,
#place8:checked ~ div .chk8 { background: #6789ca; color: #fff; border: none; }

#contact { position: relative; background: url(../source/bg_contact.png) no-repeat fixed center/cover !important; }
#contact:before { z-index: 2; position: absolute; content: ""; width: 100%; height: 100%; background: rgba(0,0,0,0.5); }
#contact > * { z-index: 10; color: #fff; }
#contact .wrap { width: 85vw; height: 80%; display: flex; }
