.cover .bullet .name { font-size: 20px; }

#visual .layer .lang .lang_cover:nth-child(2) .lang_btn:after { width: 100%; content: ""; position: absolute; bottom: -5px; height: 2px; background: #fff; }

#visual .layer .logo { background: url(../source/logo_seoul.png) no-repeat center/cover; width: 100px; height: 80px; } /* 0.8배 */
#visual .layer .center .btn .text:before { content: "About Seoul"; }
#visual #more:checked ~ .wrap .more_cover { width: 780px; transition: width 2s ease; }
#visual #more:checked ~ .wrap .btn .text:before { content: "Close"; }

#place .wrap .modal_btn div:before { content: "VIEW MORE"; }

#place #theme1:checked ~ .wrap .content_wrap > .title:before { content: "Historical & Traditional" }
#place #theme1:checked ~ .wrap .content_wrap > .desc:before { content: "Experience traditional Korean culture" }
#place #theme2:checked ~ .wrap .content_wrap > .title:before { content: "Culture" }
#place #theme2:checked ~ .wrap .content_wrap > .desc:before { content: "Seoul - the city that never sleeps" }
#place #theme3:checked ~ .wrap .content_wrap > .title:before { content: "Outdoor" }
#place #theme3:checked ~ .wrap .content_wrap > .desc:before { content: "Experience various outdoor activities" }
#place #theme4:checked ~ .wrap .content_wrap > .title:before { content: "Shopping" }
#place #theme4:checked ~ .wrap .content_wrap > .desc:before { content: "top items to buy in order to commemorate your trip to Seoul." }
