.cover .bullet .name { font-size: 15px; }

#visual .layer .lang .lang_cover:nth-child(1) .lang_btn:after { width: 100%; content: ""; position: absolute; bottom: -5px; height: 2px; background: #fff; }

#visual .layer .logo { background: url(../source/logo_seoul_korean.png) no-repeat center/cover; width: 60px; height: 104px; }
#visual .layer .center .btn .text:before { content: "서울에 대해서"; }
#visual #more:checked ~ .wrap .more_cover { width: 605px; transition: width 2s ease; }
#visual #more:checked ~ .wrap .btn .text:before { content: "닫기"; }

#place .wrap .modal_btn div:before { content: "더 보기"; }

#place #theme1:checked ~ .wrap .content_wrap > .title:before { content: "전통과 역사" }
#place #theme1:checked ~ .wrap .content_wrap > .desc:before { content: "한국의 전통 체험하기" }
#place #theme2:checked ~ .wrap .content_wrap > .title:before { content: "문화" }
#place #theme2:checked ~ .wrap .content_wrap > .desc:before { content: "절대 잠들지 않는 도시 서울" }
#place #theme3:checked ~ .wrap .content_wrap > .title:before { content: "야외활동" }
#place #theme3:checked ~ .wrap .content_wrap > .desc:before { content: "다양한 야외 활동 경험하기" }
#place #theme4:checked ~ .wrap .content_wrap > .title:before { content: "쇼핑" }
#place #theme4:checked ~ .wrap .content_wrap > .desc:before { content: "서울 여행을 기념할만한 물건들" }